body {
    font-family: Arial;
    background-color: rgb(0, 35, 0);
    color: white;
    margin: 0;
    padding: 20px; /* i moved the display flex and flex-wrap into the card containers */
}

.team-card {
    width: 15%;
    background-color: white;
    color: black;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.team-card button {
    background-color: black;
    color: white;
    font-size: 1.3em;
}

.player-card {
    width: 15%;
    background-color: white;
    color: black;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

img {
    border: 5px solid black;
    border-radius: 5px;
}

.team-container, .player-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}